# DBYTE FILES
*.dby linguist-detectable
*.dbyterc linguist-detectable
*.dbyte linguist-detectable
assets/** linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.svg linguist-vendored
*.exe linguist-vendored
*.iso linguist-vendored
*.bundle linguist-vendored
*.zip linguist-vendored
